<h1>All Events</h1>
<section class="mt-5 row row-cols-1 row-cols-md-3 row-cols-sm-2 g-3" >
  <% if @events.empty? %>
    <%= render "empty" %>
  <% else %>
    <%= render @events %>
  <% end %>
</section>